<header>
<h1>Weather</h1>
<ul>
    <li><a href="/about" class="anchorfooter">about</a></li>
    <li><a href="/help" class="anchorfooter">help</a></li>
    
    {{!-- <li><a href=""></a></li> --}}
</ul>
</header>